{% extends 'page/base.html.twig' %}
{% block title %}

{% endblock %}

{% block configCss %}
    {# csska #}
{% endblock %}

{% block body %}
    {% include 'alert.html.twig' %}
    {# Obsah #}

    <div class="container">
        <div class="row">
            {{ controller_name }}
        </div>
    </div>

    {# Konec obsahu #}
{% endblock %}

{% block configJs %}
    {# Javascripty #}
{% endblock %}