.alert-box{
    position: fixed;
    top: 20px;
    right: 50px;
    width: 400px;
}

.alert{

}

.alert-btn{
    color: #565656;

}

.alert-btn:hover{
    color: #111;
    opacity: 0.5;
}

.alert-window{
    position: fixed;
    right: 0%;
    font-size: 30px;
}

.alert-window-btn{
    text-align: justify;
    position: relative;
    padding: 10px;
    color: #565656;
}

.alert-window-notify{
    position: relative;
    color: white;
    top: -12px;
    left: 20px;
    font-size: 12px;
    background-color: darkred;
    font-weight: bold;
    width: 12px;
    padding: 3px;
    border-radius: 2px;
}