{% extends 'administration/base.html.twig' %}
{% block title %}

{% endblock %}

{% block configCss %}
    {# csska #}
{% endblock %}

{% block body %}
    {% include 'alert.html.twig' %}
    {# Obsah #}

        {# ukazkova cesta #}
        <div class="row">
            <a href="{{ path('homepage') }}"> HomePageController</a>
        </div>


    {# Konec obsahu #}
{% endblock %}

{% block configJs %}
    {# Javascripty #}
{% endblock %}
